.navigation-clean {
  background-color: #8e8c7a;
}

.icon.ion-social-angular.icon {
}

.icon.ion-social-linkedin-outline.icon {
}

.footer-links {
  color: var(--bs-gray-500) !important;
}

.nav-link.active {
  font-weight: 550;
  text-decoration: underline;
}

